body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    background-image: linear-gradient(141deg, #4df1b2 30%, #48d3f6 50%, #7ce2b2 90%);
    height: 100vh;
    /* background-image: linear-gradient(148deg, , rgba(124,45,49,1) 50%, rgba(37,146,168,1) 93%); */
}

.alert.alert-success {
    border: 1px solid rgb(79, 140, 197);
}

.col-6 {
    padding: .2rem;
}

.col-2 {
    display: inline-block;
    padding: .2rem;
    text-align: center;
    align-content: center;
}

.col-8 {
    padding: .2rem;
}

.message {
    text-align: center;
    vertical-align: center;
    padding: .5rem 1rem;
    background-color: rgb(34, 206, 85);
    border-radius: 5%;
    margin: .8rem;
    border: 2px solid rgb(44, 113, 241);
}

h2 {
    margin-bottom: 0rem;
}

.hidden {
    display: none;
}

#btn_start {
    background-color: rgba(241, 62, 232, 0.78);
    color: rgb(0, 0, 0);
    padding: .75rem 1.25rem;
    width: 11em;
    font-size: 1rem;
    /* I would like to be able to change the font size without making the container bigger */
}

.square {
    opacity: .7;
    height: 15em;
    width: 16.42em;
    border: 3px solid rgba(0, 0, 0, 1);
    transition: opacity 500ms;
    transition: border 500ms;
}

.round-counter {
    border: 1px solid rgb(157, 253, 13);
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 5%;
    background-color: greenyellow;
    margin: 0rem 0rem 1rem;
    box-sizing: border-box;
}

#square-1 {
    background-color: rgba(50, 205, 50, 1);
    border-radius: 100% 0% 0% 0%;
}

#square-2 {
    background-color: rgba(255, 0, 0, 1);
    border-radius: 0% 100% 0% 0%;
}

#square-3 {
    background-color: rgba(255, 255, 0, 1);
    border-radius: 0% 0% 0% 100%;
}

#square-4 {
    background-color: rgba(0, 0, 255, 1);
    border-radius: 0% 0% 100% 0%;
}